
.custom-alert {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #00796b;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 300px;
}

.custom-alert-content {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.close-button {
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #00796b;
}
