/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Arial, sans-serif;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px; */
    background-color: #1e1e1e;
    background-color: black;
    color: white;
    position: relative;
  }
  
  .navbar-logo img {
    width: 100px;
  }
  
  .navbar-menu {
    display: flex;
    align-items: center;
    gap: 20px;
    transition: all 0.3s ease;
  }
  
  /* Search Bar */
  .navbar-search input {
    padding: 8px 16px;
    border-radius: 20px;
    border: none;
    background-color: #333;
    color: #fff;
    outline: none;
    transition: background-color 0.3s ease;
  }
  
  .navbar-search input::placeholder {
    color: #bbb;
  }
  
  .navbar-search input:focus {
    background-color: #444;
  }
  
  /* Navbar Links */
  .navbar-links a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: color 0.3s ease;
  }
  
  .navbar-links a:hover {
    color: #ff9e44;
  }
  
  /* Buttons */
  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .create-btn {
    background-color: #ff9e44;
    color: white;
  }
  
  .create-btn:hover {
    background-color: #ff8233;
  }
  
  .wallet-btn {
    background-color: transparent;
    color: white;
    border: 2px solid white;
  }
  
  .wallet-btn:hover {
    background-color: white;
    color: #1e1e1e;
  }
  
  /* Hamburger Menu */
  .navbar-hamburger {
    display: none;
    cursor: pointer;
  }
  
  .navbar-hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: all 0.3s ease;
  }
  
  /* Mobile View */
  @media screen and (max-width: 768px) {
    .navbar-menu {
      position: absolute;
      top: 70px;
      right: 0;
      flex-direction: column;
      background-color: #1e1e1e;
      width: 100%;
      height: 0;
      overflow: hidden;
      padding: 0;
      opacity: 0;
      pointer-events: none;
    }
  
    .navbar-menu.open {
      height: auto;
      padding: 20px;
      opacity: 1;
      pointer-events: all;
    }
  
    .navbar-links {
      flex-direction: column;
      text-align: center;
    }
  
    .navbar-buttons {
      flex-direction: column;
      text-align: center;
      margin-top: 20px;
    }
  
    .navbar-hamburger {
      display: block;
    }
  }
  